{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>Blog - Ryan O'Mullan</title>
  <meta name="description" content="">
  <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

   <!-- Script
   ================================================== -->
  <script src="http://ryan.omullan.com/js/modernizr.js"></script>

   <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="favicon.png" >
  
   <!-- Google Analytics
   =================================================== -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47302992-1', 'omullan.com');
        ga('send', 'pageview');
    </script>

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home" style="background:none; max-height:48px; min-height:48px;">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a href="http://ryan.omullan.com/#home">Home</a></li>
            <li><a href="http://ryan.omullan.com/#about">About</a></li>
            <li><a href="http://ryan.omullan.com/#resume">Resume</a></li>
            <li><a href="http://ryan.omullan.com/#portfolio">My Work</a></li>
            <!-- <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>-->
            <li><a href="http://ryan.omullan.com/#contact">Contact</a></li>
            <li class="current" style="color: #F06000;"><a href="/">Blog</a></li>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

   </header> <!-- Header End -->


   <!-- Resume Section
   ================================================== -->
   <section id="blog">

   {% block content %} {% endblock content%}



   </section> <!-- Blog Section End-->




   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://twitter.com/ryanomullan" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/ryanomullan/en" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="mailto:omullan.ryan+personal-website@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
               <li><a href="skype:ryanomullan?call"><i class="fa fa-skype"></i></a></li>
               <li><a href="https://github.com/RyanOM" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 Ryan O'Mullan</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="http://ryan.omullan.com/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="http://ryan.omullan.com/js/jquery.flexslider.js"></script>
   <script src="http://ryan.omullan.com/js/waypoints.js"></script>
   <script src="http://ryan.omullan.com/js/jquery.fittext.js"></script>
   <script src="http://ryan.omullan.com/js/magnific-popup.js"></script>
   <script src="{% static 'js/init.js' %}"></script>

</body>

</html>